.first {
	height: 116vh;//height: 1080px;// на всю высоту экрана 100vh/ height: 1080px
	min-height: 600px;// не экранов меньше 600px
	background-image: url("../img/background.jpg");
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	color: var(--white-color);
	padding-top: 104px;

	&__container {
		position: relative;
		padding-top: 223px;
		padding-bottom: 200px;
		height: 100%;//прижимаем в низ first__bottom
	}

	&__link {
		@include SFProDisplayH;
		display: inline-block;
		padding: 15px 30px;
		border-radius: 100px;
		font-size: 11px;
  	line-height: 13px;
		color: #FFFFFF;
		background-color: rgb(28, 46, 61, 0.4);
		text-transform: uppercase;
		letter-spacing: 2px;
		margin-bottom: 42px;
	}
	&__title {
		@include SFProDisplayB;
		font-size: 80px;
		line-height: 84px;
		max-width: 40%;// чтобы перенесся текст
		margin: 0;
		margin-bottom: 40px;
	}
	&__discr {
		@include SFCompactR;
		font-size: 14px;
		line-height: 17px;
		margin-bottom: 57px;
	}
	.first__btn {
		position: relative;
		@include SFProDisplayB;
		font-size: 12px;
		line-height: 14px;
		text-transform: uppercase;
		color: var(--white-color);
		letter-spacing: 2.2px;
		padding: 33px 82px ;
		background-color:  var(--accent-color);
		border-radius: 8px;
		transition: background-color 0.3s;
		z-index: 5;
	}

	.first__btn:hover {
		background-color: var(--accent-hover-color);
		transition: background-color 0.3s;
	}

	&__bottom {
		display: flex;
		position: absolute;
		left: 50%;
		transform: translateX(-50%);
		bottom: 0;
		width: calc(100% - 60px);
		align-items: flex-end;
		.search-form {
			position: relative;
			flex-shrink: 0;// чтобы элемент не сжимался
			width: 68%;
			overflow: hidden;
			border-top-left-radius: 4px;
			border-bottom: 1px solid #d9d9d9;
			height: 120px;
		}
		.search-form__field {
			border: none;
			background-color: #ffffff;
			width: 100%;
			height: 100%;
			color: var(--dark-color);
			padding-left: 55px;
			@include SFProDisplayB;
			font-size: 16px;
			line-height: 19px;
			padding-left: 55px;
			padding-right: 90px;
		}
		.search-form__button {
			width: 20px;
			height: 20px;
			background-image: url("../img/search.svg");
			background-position: center ;
			background-size: cover;
			background-repeat: no-repeat;
			position: absolute;
			right: 60px;
			top: 43%;
			transform: rotateY(-50%);
		}
	}

	.main-slider {
		overflow: hidden; //все что внутри обрезаем
		border-top-left-radius: 8px;// верхний левый угол закругляем
		border-top-right-radius: 8px;// верхний правый угол закругляем
		font-size: 0;// убираем между элементами отступ
		line-height: 1;


		.main-slider__text {
			height: 120px;
			display: flex;
			align-items: center;
			justify-content: center;
			background-color: var(--neptune-color);
			@include SFProDisplayH;
			font-size: 12px;
			text-transform: uppercase;
			color: var(--white-color);
			letter-spacing: 2px;
			max-width: 490px;
			text-align: center;
			line-height: 1;
		}
	}

	 .first__slider {
		position: relative;
	}

	.first__slider-btn {
		position: absolute;
		left: 50px;
		bottom: 53px;
		width: 14px;
		height: 14px;
		z-index: 50;
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
	}

	.btn-right {
		left: auto;
		right: 50px;
		background-image: url("../../img/arrow-right.svg");
	}

	.btn-left {
		background-image: url("../../img/arrow-left.svg");
	}

	.main-slider__media video{
		max-height: 275px;
	}

	.main-slider__media{
		max-height: 275px;
	}

	.main-slider__play {
		position: absolute;
		left: 50%;
		top: 40%;
		transform: translate(-50%,-50%);
		width: 32px;
		height: 41px;
		background-image: url("../../img/play.svg");
		background-position: center;
		background-size: cover;
		background-repeat: no-repeat;
		z-index: 100;
	}



}

@media (max-height: 1079px){
	.first__container{
		padding: 120px 30px;
	}
}

@media (max-height: 880px) {
	.first__container {
		padding: 100px 30px;
	}

	.first__link {
		margin-bottom: 30px;
	}

	.first__title {
		font-size: 75px;
		line-height: 65px;
	}
}

@media (max-height: 780px) {
	.search-form {
		height: 80px;
	}

	.main-slider__text {
		height: 80px;
	}

	.first__title {
		font-size: 60px;
		line-height: 65px;
		margin-bottom: 20px;
	}

	.first__descr {
		font-size: 12px;
		margin-bottom: 30px;
	}

	.first__btn {
		padding: 25px 40px;
	}
}
