.swiper {
	overflow: hidden;
  width: 100%;
}
.swiper .swiper-slide {
	position: relative;
	border-radius: 8px;
	min-height: 660px;
	width:1040px !important;
	transform: scaleY(0.83);
	transition: .5s;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	overflow: hidden;
}

.swiper .swiper-slide::after {
	position: absolute;
	left: 0;
	bottom: 0;
	content: "";
	width: 100%;
	height: 70%;
	background: linear-gradient(180deg, rgba(0, 0, 0, 0.0001) 50%, rgba(0, 0, 0, 0.461617) 100%);
	opacity: 0;
	transition: opacity 0.5s;
}

.swiper .swiper-slide-active {
	transition: .5s;
	transform: scaleY(1);
}

.swiper-slide-active::after {
	opacity: 1;
	transition: opacity 0.5s;
}

.featured-video {
	padding-top: 95px;
	padding-bottom: 50px;
}
.featured-videos__title {
	margin-bottom: 25px;
}
.featured-videos__descr {
	text-align: center;
	margin: 0 auto;
	max-width: 634px;
	@include SFCompactL;
	font-size: 16px;
	line-height: 24px;
	color: #788692;
	padding-bottom: 95px;

}
.slide-1 {
	background-image: url("../../img/Slide-1.jpg");
}
.slide-2 {
	background-image: url("../../img/Slide-2.jpg");
}
.slide-3 {
	background-image: url("../../img/Slide-3.jpg");
}
.slide-4 {
	background-image: url("../../img/Slide-4.jpg");
}

.slider-title {
	@include SFProDisplayB;
	font-size: 32px;
	line-height: 40px;
	color: var(--white-color);
	position: relative;
	z-index: 5;
	padding-left: 40px;
	padding-bottom:30px ;
	transition: transform 0.5s;
	transform: translateY(200px);
}

.swiper-slide-active .slider-title {
	transition: transform 0.5s;
	transform: translateY(0);
}

.slide-play {
	position: absolute;
	left: 48px;
	top: 40px;
	width: 112px;
	height: 112px;
	background-image: url("../../img/icon.svg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
