// если вы хотите использовать sass-переменные - удалите root
// colors
:root {
  // base
  --font-family: "SFProDisplay", sans-serif;
  --content-width: 1170px;
  --container-offset: 15px;
  --container-width: calc(var(--content-width) + (var(--container-offset) * 2));

  // colors
  --white-color: #fff;
	--black-color: #000;
	--dark-color:  #1c2e3d;
	--accent-color: #e8594e;
	--accent-hover-color: #e31d0e;
	--neptune-color: #73afba;
	--neptune-hover-color: #4196a6;
}
